* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
}
.mainRight{
    width: 70%;
    height: 100%;
    /* background-color: aqua; */
}
.rightBanner{
  width: 80%;
  height: 12%;
  margin-top: 8%;
  margin-left: 8%;
  margin-right: 8%;
  

}
.rightBanner img{
  width: 100%;
  height: 100%;
  border-radius:20px;
}
.para{
  width: 80%;
  /* height: 6%; */
  /* background-color: aliceblue; */
  color: grey;
  font-weight: 500;
  margin: 4% 8%;
  line-height: 24px;
}
.rightMenu{
  width: 100%;
  height: 3%;
  /* background-color: aqua; */
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: space-between;
}
.menuIcon{
  width: 10%;
  height: 100%;
  /* background-color: aliceblue; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.menuIcon i{
color: black;
font-size: 18px;
font-weight: 600;
}
.filter{
  width: 50%;
  height: 100%;
  /* background-color: aliceblue; */
  display: flex;
}
.totalCount{
  width: 40%;
  height: 100%;
  /* background-color: antiquewhite; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.sorting{
  width: 40%;
  height: 100%;
  /* background-color: antiquewhite; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.dropIcon{
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.dropIcon i{
  font-size: 40px;
  color: black;
}
.productsReuse , .productsReuse2{
  width: 100%;
  height: auto;
  margin-top: 50px;
  
}

@media (max-width: 768px) {
  .mainRight{
    width: 100%;
    height: auto;
  }
  .rightBanner{
    width: 90%;
    height: 8%;
   margin-left: 4%;
  }
  
}