* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
}
.combination{
    width: 100%;
    height: 300%;
    display: flex;
    /* background-color: bisque; */
}

@media (max-width: 768px) {
  .combination{
    height: 390%;
  }
  
}